<h1>ContactUs</h1>
<div>
    <label style="color:royalblue">
        Enter Your Name:
    </label>
    <br />
    <input type="text" />
    <br />
    <label style="color:mediumvioletred">
        Enter Your Number:
    </label>
    <br />
    <input type="text" />
    <br />
    <label style="color:blueviolet">
        Enter Your Address:
    </label>
    <br />
    <input type="text" />
    <br />
    Type of Query : &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="Query" value="m" />Application Related&nbsp;&nbsp;&nbsp;
    <input type="radio" name="Query" value="f" />Login Related&nbsp;&nbsp;&nbsp;
    <input type="radio" name="Query" value="o" />Others<br /><br />
    <label style="color:forestgreen">
        Reason to Contact Us
    </label>
    <br />
    <textarea style="height:300px ">
    </textarea>
    <br />
    <input type="submit" style="border-color :cornflowerblue" />
</div>

