@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">WELCOME TO STUDENTS</h1>
    <h1 class="display-4">KAKATHIYA UNIVESRSITY</h1>
    <h2 class="display-4">Warangal-505001</h2>


    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div>
        <img src="https://www.logolynx.com/images/logolynx/f9/f92e508b1aab612b8826abdf670fb3eb.jpeg" alt="alternatetext" width="150" height="200" style="vertical-align:bottom">
    </div>

    <div>
        <img src="https://thumbs.dreamstime.com/b/welcome-sign-group-young-multi-ethnic-people-holding-banner-isolated-59690319.jpg" alt="alternatetext" width="800" height="400">
    </div>
</div>
